.Background{
  height: 100dvh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  flex-shrink: 0;
}

.Background_LandingPage{
  background-color: var(--primary-Background);
}

.Landing_Page_Main{
  height: 95dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Landing_Page_Main_Item{
  width: 50vw;
  height: 95dvh;
}


#Picture_Box_Mobile{
  display:none;
  visibility: hidden;
}

.fade-img_Mobile{
  display:none;
  visibility: hidden;
  height: 50dvh;
  width: auto;
  transition: transform 0.2s ease-out;
}

.image-container_Mobile{
  display:none;
  visibility: hidden;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 40dvh;
}

#Landing_Page_L{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#Landing_Page_R{
  display: flex;
  align-items: flex-end;
}

@media(max-width: 480px)
{
  #Picture_Box_Mobile{
    display:flex;
    width: 100vw;
    height: auto;
  }

  .image-container_Mobile{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: auto;
    height: 40dvh;
  }

  .fade-img_Mobile{
    display: inline-block;
    visibility: visible;
    height: 50dvh;
    width: auto;
    transition: transform 0.2s ease-out;
  }

  .fade-img_Desktop{
    display:none;
    visibility: hidden;
  }

  .image-container{
    display: none;
    visibility: hidden;
  }

  #Landing_Page_L{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  #Landing_Page_R{
    display: none;
    visibility: hidden;
  }
}

.fade-img_Desktop{
  height: 95dvh;
  width: auto;
  transition: transform 0.2s ease-out;
}

.image-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 80dvh;
}

#cursor{
  height: 3.5em;
  width: 0.25em;
  border-radius: 1px;
  margin-left: 0.1em;
  background-color: white;
  animation: blink-animation 0.5s steps(5, start) infinite;

}

#type_text{
  display: flex;
  flex-direction: row;
}

#Text_Block{
  width: 25vw;
  margin-top: 15em;
}

#Action_Buttons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
