.Background{
  height: 100dvh;
  z-index: -1;
  flex-shrink: 0;
}

.Background_LandingPage{
  left: 0;
  top: 0;
  width: 100vw;
  background-color: var(--primary-Background);
  position: fixed;
}

.Background_Projects{
  background: linear-gradient(180deg, rgba(53,58,65,1) 0%, rgba(49,53,60,1) 25%, rgba(28,30,34,1) 76%, rgba(0,0,0,1) 100%);
  width: 100vw;
  overflow-x: hidden;
}

.Background_About{
  background: linear-gradient(0deg, rgba(53,58,65,1) 0%, rgba(49,53,60,1) 25%, rgba(28,30,34,1) 76%, rgba(0,0,0,1) 100%);
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.Background_Arts{
  background: linear-gradient(180deg, rgba(53,58,65,1) 0%, rgba(49,53,60,1) 25%, rgba(28,30,34,1) 76%, rgba(0,0,0,1) 100%);
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Background_Arts{
  position: relative;
  display: inline-block;
  overflow-x: hidden;
white-space: nowrap;
}

.Background_Arts:before,
.Background_Arts:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.Background_Arts:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--primary-Background));
}

.Background_Arts:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--primary-Background));
}

.work-slide-img{
  height: 20em;
  width: auto;
  white-space: nowrap;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 20px;
}

.top_sliding_div:hover .work-slide{
  animation-play-state: paused;
}

.work-slide:hover{
  animation-play-state: paused;
}

.work-slide{
  animation: 40s work-slide infinite linear;
}

@keyframes work-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes work-slide_R {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.top_sliding_div_R{
  margin-top: 2em;
}

.work-slide{
  display: inline-block;
  gap: 2%;
}

.work-slide_R{
  display: inline-block;
  gap: 2%;
  animation: 40s work-slide_R infinite linear;
}

.Landing_Page_Main{
  height: 95dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Landing_Page_Main_Item{
  width: 50vw;
  height: 95dvh;
}


#Picture_Box_Mobile{
  display:none;
  visibility: hidden;
}

.fade-img_Mobile{
  display:none;
  visibility: hidden;
  height: 50dvh;
  width: auto;
  transition: transform 0.2s ease-out;
}

.image-container_Mobile{
  display:none;
  visibility: hidden;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 40dvh;
}

#Landing_Page_L{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#Landing_Page_R{
  display: flex;
  align-items: flex-end;
}

.big_Txt{
  font-size: 3.5em;
}

.sml_Txt{
  font-size: 1.7em;
}

#arrow_to_bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  left: 0;
  position: absolute;
}

.info-card-projects{
  background-color: var(--primary-Text);
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  position: absolute;
  height: 13.5em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.project-info{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.project-image-box{
  width: 25vw !important;
  margin: 1em;
  height: 70dvh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.time-circle{
  aspect-ratio: 1/1;
  height: auto;
  width: 3em;
  border-radius: 3em;
  background-color: transparent;
  border: 4px solid var(--primary-Text);
  background: var(--primary-Background);
}

.timeline{
  border: 2px solid var(--primary-Text);
  border-radius: 1px;
  height: 80dvh;
  align-self: center;
  position: absolute;
  margin-top: 5em;
}

.timeline-items{
  height: 80dvh;
  align-self: center;
  position: absolute;
  margin-top: 5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.project-image-box:hover{
  transform: scale(1.05);
}

.project-title{
  font-size: 3.5em !important;
  text-align: center;
  color: black;
  margin: 0.15em;
}

.project-year{
  font-size: 2.5em !important;
  text-align: right;
  color: var(--primary-Blue);
  margin: 0.15em;
}

.project-image{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  aspect-ratio: 1 / 1.39;
  box-shadow: 0.2px 0.2px 50px 1px rgba(255,255,255,0.17);
}

div.arrow {
	width: 6vmin;
	height: 6vmin;
	box-sizing: border-box;
	position: absolute;
  transform: scale(0.35) rotate(135deg);

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	&:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transform-origin: 100% 0;
		transition:.2s ease;
	}

	&:hover::after {
		transform: rotate(45deg);
		border-color: var(--primary-Blue);
		height: 120%;
	}
	&:hover::before {
		border-color: var(--primary-Blue);
		transform: scale(.8);

	}

}

.left_Action_Button{
  margin-right: 3em;
  margin-left: 0;
}

.Heading{
  font-size: 3em !important;
  color: var(--primary-Text);
  font-weight: 400;
  text-align: center;
}

@media(max-width: 480px){

  .project-image-box{
    width: 80vw !important;
    margin-top: 13em;
  }

  .project-info{
    margin-bottom: 0.1em !important;
  }

  .Background_Arts:before,
.Background_Arts:after {
  position: absolute;
  top: 0;
  width: 100px !important;
  height: 100%;
  content: "";
  z-index: 2;
}

.work-slide-img{
  height: 15em !important;
}
}


@media(max-width: 768px)
{

  .project-image-box{
    width: 70vw !important;
    margin-top: 13em;
    height: 40dvh !important;
  }

  #arrow_to_bottom{
    margin-top: 1.5em !important;
  }

  #Action_Buttons{
    justify-content: space-between;
  }

  .left_Action_Button{
    margin-right: 0 !important;
    margin-left: 1em !important;
  }

  .big_Txt{
    font-size: 3em;
    text-align: center;
  }

  .sml_Txt{
    font-size: 1.2;
    text-align: center;
    margin-bottom: 0.2em;
  }

  #Picture_Box_Mobile{
    display:flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: flex-end;
    margin-top: 5em;
  }

  .image-container_Mobile{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: auto;
    height: 40dvh;
  }

  .fade-img_Mobile{
    display: inline-block;
    visibility: visible;
    height: 50dvh;
    width: auto;
    transition: transform 0.2s ease-out;
  }

  .fade-img_Desktop{
    display:none;
    visibility: hidden;
  }

  .image-container{
    display: none;
    visibility: hidden;
  }

  #Landing_Page_L{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #Landing_Page_R{
    display: none;
    visibility: hidden;
  }

  .Landing_Page_Main{
    flex-direction: column;
    height: calc(100dvh - 5em);
  }

  .Landing_Page_Main_Item{
    height: 50dvh;
  }

  #Text_Block{
    width: calc(100vw - 2em) !important;
    margin-top: 5em !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }

  #type_text{
    justify-content: center;
  }
}

.fade-img_Desktop{
  height: 95dvh;
  width: auto;
  transition: transform 0.2s ease-out;
}

.image-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 80dvh;
}

#cursor{
  height: 3.5em;
  width: 0.25em;
  border-radius: 1px;
  margin-left: 0.1em;
  background-color: white;
  animation: blink-animation 0.5s steps(5, start) infinite;

}

#type_text{
  display: flex;
  flex-direction: row;
}

#Text_Block{
  width: 25vw;
  margin-top: 15em;
}

#Action_Buttons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
