<section id="Home">
  <app-header-component></app-header-component>
  <div class="Background Background_LandingPage" id="Landing_Page"></div>
  <div class="Landing_Page_Main">
    <div id="Picture_Box_Mobile" class="Landing_Page_Main_Item">
      <div class="image-container_Mobile" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
        <img src="potrait.png" alt="potrait" class="fade-img_Mobile" [style.transform]="transformStyle"/>
        </div>
    </div>
    <div id="Landing_Page_L" class="Landing_Page_Main_Item">
      <div id="Text_Block">
        <h4 class="Primary_Txt big_Txt" style="margin: 0;">Hi, mein Name ist <span class="special_Highlight">Christoph</span>,</h4>
        <div id="type_text">
          <h4 class="Primary_Txt big_Txt" style="margin: 0em;">Ich bin </h4>
          <h4 class="Primary_Txt big_Txt" style="margin: 0em; color: var(--primary-Blue); margin-left: 0.25em;">{{viewText}}</h4>
          <div id="cursor"></div>
        </div>
          <p class="Primary_Txt sml_Txt">und habe mir als Ziel gesetzt Videos, Fotos und Kurzfilme in <span class="special_Highlight">Höchstmöglicher Qualität</span> zu produzieren.</p>
          <div id="Action_Buttons">
            <a href="#Projects">
              <button style="width: 12em; margin: 1em;" class="button_OutLnd hover_Normal left_Action_Button">
                <p class="Primary_Txt Button_Text">Projekte</p>
              </button>
            </a>
            <button style="width: 12em; margin: 1em;" class="button_OutLnd hover_Normal">
              <p class="Primary_Txt Button_Text">Mehr Über Mich</p>
            </button>
          </div>
        </div>

    </div>
    <div id="Landing_Page_R" class="Landing_Page_Main_Item">
      <div class="image-container" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
        <img src="potrait.png" alt="potrait" class="fade-img_Desktop" [style.transform]="transformStyle"/>
      </div>
    </div>

  </div>
  <div id="arrow_to_bottom">
    <div class="arrow"></div>
  </div>
</section>
<section id="Projects">
  <div class="Background Background_Projects" id="Project_Page">
    <h4 class="Heading Primary_Txt">Projekte</h4>
    <carousel [counter]="false" [arrows]="false" [gapBetweenSlides]="0" [infinite]="true" [slideToScroll]="4">
      <div class="slides-container" *ngFor="let project of projects">
        <div class="project-image-box carousel-slide">
          <img [src]="project.image" alt="Project image" class="project-image"/>
          <div class="info-card-projects">
            <div class="project-info">
              <p class="project-year Primary_Txt">{{project.year}}</p>
              <p class="project-title Primary_Txt">{{project.title}}</p>
            </div>
          </div>
        </div>
      </div>
    </carousel>
  </div>
</section>
<section id="About">
  <div class="Background Background_About" id="About_Page">
    <h4 class="Heading Primary_Txt">Über Mich</h4>
    <div class="timeline"></div>
    <div class="timeline-items" >
      <div class="time-circle" *ngFor="let event of events">
        <div [ngClass]="{'timeline_Text_l': events.indexOf(event) % 2 == 0, 'timeline_Text': events.indexOf(event) % 2 != 0}">
          <div class="timeline-info">
            <h1 class="Primary_Txt">{{event.start}} - {{event.end}}</h1>
            <h1 class="Primary_Txt" style="font-size: 2em;">{{event.name}}</h1>
            <div class="arrow" style="margin-left: -2.5%; margin-right: -2.5%; position: relative;"></div>
            <div [ngClass]="{'timeline_description_l': events.indexOf(event) % 2 == 0, 'timeline_description': events.indexOf(event) % 2 != 0}"><p>{{event.description}}</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="Arts">
  <div class="Background Background_Arts" id="Art_Page">
    <div class="Arts_Main">
      <h4 class="Heading Primary_Txt" style="margin: 0.5em">Werke</h4>
      <div class="logos">
        <div class="logos-slide">
          <img *ngFor="let item of Works.slice(0,(Works.length / 2))" src="{{item.img}}" class="work-slide-img" alt="{{item.alt}}" />
        </div>

        <div class="logos-slide">
          <img *ngFor="let item of Works.slice(0,(Works.length / 2))" src="{{item.img}}" class="work-slide-img" alt="{{item.alt}}" />
        </div>
      </div>
      <div class="logos">
        <div class="logos-slide-reverse">
          <img *ngFor="let item of Works.slice((Works.length / 2),(Works.length))" src="{{item.img}}" class="work-slide-img" alt="{{item.alt}}" />
        </div>

        <div class="logos-slide-reverse">
          <img *ngFor="let item of Works.slice((Works.length / 2),(Works.length))" src="{{item.img}}" class="work-slide-img" alt="{{item.alt}}" />
        </div>
      </div>
    </div>
    <app-footer-component></app-footer-component>
  </div>

</section>

